<form action="/arquivos" method="post">

    <p>Nome da rua: </p>
        <input type="text" name="rua">

    <P>Nome do bairro: </P>
        <input type="text" name="bairro">

    <p>Descrição: </p>
        <input type="text" name="descricao">

    <button type="submit">Cadastrar Reclamação</button>

</form>