<form action="/postagem" method="post">

    <p>Titulo</p>
        <input type="text" name="titulo">

    <P>Conteudo</P>
        <input type="text" name="conteudo">

    <p>Categoria</p>
        <input type="text" name="categoria">

    <button type="submit">Cadastrar postagem</button>

</form>